<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link type="text/css" href="./js/jquery.mobile-1.4.5.min.css" rel="stylesheet">
		<script src="./js/jquery-1.8.2.min.js"></script>
		<script src="./js/jquery.mobile-1.4.5.min.js"></script>
		<title>银河众联,p2p,p2p理财</title>
		<style>
			.top{width:100%;height:3px;background:#FF500B;}
			.content{border:1px solid #000000;border-radius:10px;overflow:hidden;margin-top:10px;}
			.pone{float:left;}
			.ptwo{float:left;margin-left:50px;}
			a{text-decoration:none;}
		</style>
	</head>
	<body>
		<div data-role="header">
			<img src="./mobileimages/phonerateimgtop.gif" alt="银河众联" width="100%">
		</div>
		{foreach from=$cateinfo item=cate}
		<div class="content">
			<div class="top"></div>
			<a href="{$cate.url}"><div class="ui-block-a">
				<p>{$cate.short_name}</p>
				<div>
					<p class="pone">{$cate.market_price}%</br>年化利率</p>
					<p class="ptwo">{$cate.term}</br>理财期限</p>
				</div>
			</div></a>
		</div>
		{/foreach}
		<div class="ui-grid-b" data-position="fixed" data-role="footer">
			<div class="ui-block-a">
				<a href="index.php" data-role="button">聚能赚定期</a>
			</div>
			<div class="ui-block-b">
				<a href="category.php" data-role="button">精选散标</a>
			</div>
			<div class="ui-block-c">
				<a href="user.php" data-role="button">个人中心</a>
			</div>
		</div>
	</body>
</html>