<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link type="text/css" href="./js/jquery.mobile-1.4.5.min.css" rel="stylesheet">
		<script src="./js/jquery-1.8.2.min.js"></script>
		<script src="./js/jquery.mobile-1.4.5.min.js"></script>
		<title>银河众联,p2p,p2p理财</title>
		<style>
			.ratenum{width:200px;height:200px;line-height:200px;box-shadow:-5px 0px 8px red,0px -5px 8px red,5px 0px 8px red,0px 5px 8px red;font-size:5em;border-radius:100px;}
			a{text-decoration:none;}
		</style>
	</head>
	<body>
		<!--定期30天start-->
		<div data-role="page" id="ratepageone">
			<div data-role="header">
				<img src="./mobileimages/phonerateimgtop.gif" alt="银河众联" width="100%">
			</div>
			<div data-role="content" style="text-align:center;">
				<a href="{$infoone.url}"><div class="ratenum">{$infoone.market_price}%</div></a>
				<div>
					<span style="float:left;margin-left:10px;">理财期限:{$infoone.good_weight_day}天</span>
					<span style="float:right;margin-right:10px;">项目总额:{$infoone.shop_price}元</span>
				</div>
			</div>
			<div class="ui-grid-c">
				<div class="ui-block-a">
					<a href="#ratepageone" data-transition="slide" data-role="button">30天</a>
				</div>
				<div class="ui-block-b">
					<a href="#ratepagetwo" data-transition="slide" data-role="button">90天</a>
				</div>
				<div class="ui-block-c">
					<a href="#ratepagethree" data-transition="slide" data-role="button">180天</a>
				</div>
				<div class="ui-block-d">
					<a href="#ratepagefour" data-transition="slide" data-role="button">365天</a>
				</div>
			</div>
			<div class="ui-grid-b" data-position="fixed" data-role="footer">
				<div class="ui-block-a">
					<a href="index.php" data-role="button">聚能赚定期</a>
				</div>
				<div class="ui-block-b">
					<a href="category.php" data-role="button">精选散标</a>
				</div>
				<div class="ui-block-c">
					<a href="user.php" data-role="button">个人中心</a>
				</div>
			</div>
		</div>
		<!--定期30天end-->
		<!--定期90天start-->
		<div data-role="page" id="ratepagetwo">
			<div data-role="header">
				<img src="./mobileimages/phonerateimgtop.gif" alt="银河众联" width="100%">
			</div>
			<div data-role="content">
				<a href="{$infotwo.url}"><div class="ratenum">{$infotwo.market_price}%</div></a>
				<div>
					<span style="float:left;margin-left:10px;">理财期限:{$infotwo.good_weight_day}天</span>
					<span style="float:right;margin-right:10px;">项目总额:{$infotwo.shop_price}元</span>
				</div>
			</div>
			<div class="ui-grid-c">
				<div class="ui-block-a">
					<a href="#ratepageone" data-transition="slide" data-role="button">30天</a>
				</div>
				<div class="ui-block-b">
					<a href="#ratepagetwo" data-transition="slide" data-role="button">90天</a>
				</div>
				<div class="ui-block-c">
					<a href="#ratepagethree" data-transition="slide" data-role="button">180天</a>
				</div>
				<div class="ui-block-d">
					<a href="#ratepagefour" data-transition="slide" data-role="button">365天</a>
				</div>
			</div>
			<div class="ui-grid-b" data-position="fixed" data-role="footer">
				<div class="ui-block-a">
					<a href="index.php" data-role="button">聚能赚定期</a>
				</div>
				<div class="ui-block-b">
					<a href="category.php" data-role="button">精选散标</a>
				</div>
				<div class="ui-block-c">
					<a href="user.php" data-role="button">个人中心</a>
				</div>
			</div>
		</div>
		<!--定期90天end-->
		<!--定期180天start-->
		<div data-role="page" id="ratepagethree">
			<div data-role="header">
				<img src="./mobileimages/phonerateimgtop.gif" alt="银河众联" width="100%">
			</div>
			<div data-role="content">
				<a href="{$infothree.url}"><div class="ratenum">{$infothree.market_price}%</div></a>
				<div>
					<span style="float:left;margin-left:10px;">理财期限:{$infothree.good_weight_day}天</span>
					<span style="float:right;margin-right:10px;">项目总额:{$infothree.shop_price}元</span>
				</div>
			</div>
			<div class="ui-grid-c">
				<div class="ui-block-a">
					<a href="#ratepageone" data-transition="slide" data-role="button">30天</a>
				</div>
				<div class="ui-block-b">
					<a href="#ratepagetwo" data-transition="slide" data-role="button">90天</a>
				</div>
				<div class="ui-block-c">
					<a href="#ratepagethree" data-transition="slide" data-role="button">180天</a>
				</div>
				<div class="ui-block-d">
					<a href="#ratepagefour" data-transition="slide" data-role="button">365天</a>
				</div>
			</div>
			<div class="ui-grid-b" data-position="fixed" data-role="footer">
				<div class="ui-block-a">
					<a href="index.php" data-role="button">聚能赚定期</a>
				</div>
				<div class="ui-block-b">
					<a href="category.php" data-role="button">精选散标</a>
				</div>
				<div class="ui-block-c">
					<a href="user.php" data-role="button">个人中心</a>
				</div>
			</div>
		</div>
		<!--定期180天end-->
		<!--定期365天start-->
		<div data-role="page" id="ratepagefour">
			<div data-role="header">
				<img src="./mobileimages/phonerateimgtop.gif" alt="银河众联" width="100%">
			</div>
			<div data-role="content">
				<a href="{$infofour.url}"><div class="ratenum">{$infofour.market_price}%</div></a>
				<div>
					<span style="float:left;margin-left:10px;">理财期限:{$infofour.good_weight_day}天</span>
					<span style="float:right;margin-right:10px;">项目总额:{$infofour.shop_price}元</span>
				</div>
			</div>
			<div class="ui-grid-c">
				<div class="ui-block-a">
					<a href="#ratepageone" data-transition="slide" data-role="button">30天</a>
				</div>
				<div class="ui-block-b">
					<a href="#ratepagetwo" data-transition="slide" data-role="button">90天</a>
				</div>
				<div class="ui-block-c">
					<a href="#ratepagethree" data-transition="slide" data-role="button">180天</a>
				</div>
				<div class="ui-block-d">
					<a href="#ratepagefour" data-transition="slide" data-role="button">365天</a>
				</div>
			</div>
			<div class="ui-grid-b" data-position="fixed" data-role="footer">
				<div class="ui-block-a">
					<a href="index.php" data-role="button">聚能赚定期</a>
				</div>
				<div class="ui-block-b">
					<a href="categroy.php" data-role="button">精选散标</a>
				</div>
				<div class="ui-block-c">
					<a href="user.php" data-role="button">个人中心</a>
				</div>
			</div>
		</div>
		<!--定期365天end-->
	</body>
</html>
<script>
	$(document).on("pageinit",function(){
		$("#ratepageone").on("swipeleft",function(){
			$(this).hide();
			$(this).siblings().hide();
			$("ratepagetwo").show();
		});
	});
</script>